body
{
margin :0 auto;
background:#808000;
}
.container{
	width:380px;
	height:500px;
	text-align:center;
	background-color: lightblue;
	border-radius:50px;
	margin:0 auto;
	margin-top:150px;
}
.container img{
	width:120px;
	height:120px;margin-top:-60px;
	margin-bottom:50px;
	border-radius:20px;
	
}
input {
	width:200px;
	height:30px;
	font-size:15px;
	border-radius:20px;
	margin-bottom:20px;
	padding-left:30px;
}
#login{
	width:90px;
	height:40px;
	font-size:20px;
	border-radius:15px;
	background-color:green;
	margin-bottom:20px;
	padding-left:12px;
}